<div class="container mt-5 mb-5">

    <img src="" width="100%">


    <p>

       <h1 class="text-center">About</h1>
        We welcome you to sit back, unwind and appreciate the lovely sights and hints of the ocean while our best gourmet expert sets you up for a scrumptious dinner utilizing the best and freshest ingredients.’The KG Kitchen’s legacy comes from The parent  Restaurant, which was built in 1963.

 worked for people in general and has advanced into a combination of exquisite chic and contemporary fine charge.
Enjoy our dazzling dishes and make the most of your eating background with us!

    <br>

 <h4>Sustenance</h4>

In case you’re searching for top-notch food, ‘Organization Name’ is unquestionably one of the spots to go in Port Elizabeth. The adaptable menu flaunts some imaginative food, for example, salt and pepper squid on a delicate.

A Thai-roused plate of mixed greens; harissa angle soup (with the harissa glue served in a little glass); lemon simmered chicken on dark pepper gnocchi; and most heavenly cinnamon, fennel, and ‘Friends Name’ frozen yogurt. The eatery utilizes neighborhood creation for fish and venison dishes to flourish.

<br>

<h4>Wine</h4>

The honor-winning wine determination merits uncommon notice; both quaffer and specialist are all around provided food for. The determination has clearly been picked in light of the menu, and numerous a wine darling’s heart will be heartened to see the decisions accessible.

<br>

<h4>Service</h4>
The administration is right on the money, and what you would anticipate from a foundation of this bore: amazingly proficient and educated, inquiries concerning fixings are handed-off to the cook and replied to. The steady nearness of the director on the floor adds to the accomplishment of the eatery.

<br>

<h4>Climate</h4>

The glass divider confronting the sea, unbiased shades, finished dividers, and excellent fine art, just as lavish tablecloths and seats, all contribute toward an extravagant ordeal. The earthenware and cutlery are just delightful.



</div>
